 hi {       h1 tag   green
   background-color: #FF6600;
   color: #00FF00;
   }

 p {       p tag    blue 
   color: #0000FF;
   }

 a {       anchor tag   red
   color: #FF0000;
   height: 35px;
   }

a color